{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      [
        "module-resolver",
        {
          "extensions": [
            ".js",
            ".ios.js",
            ".android.js",
            ".png",
            ".jpg"
          ],
          "root": [
            "./"
          ],
          "alias": {
            "@assets": "./src/assets",
            "@components": "./src/components",
            "@constants": "./src/constants",
            "@helpers": "./src/helpers",
            "@scenes": "./src/scenes",
            "@services": "./src/services",
            "@styles": "./src/styles"
          }
        }
      ]
    ]
  }